#signup *{
    transition: .5s ease-in-out;
}
#signup{
    width: 40%;
} 
#signup .form_element{
    width: 100%;
}
#signup button{
    width: 100%;
    margin: 0;
}
#signup .form_element input{
    text-indent: 28px;
    margin-bottom: 1rem;
    height: 42px;
}
#signup .hints{
    margin-bottom: 1rem;
}
#signup .hint-item{
    font-size: 14px;
    color: brown;
    font-weight: bolder;
}
#signup .input_logo{
    margin: 8px;
    position: absolute;
    left: 0;
    height: 24px;
    width: auto;
}
#signup .bottom{
    justify-content: space-between;
}

@media only screen and (max-width: 1024px){
    #signup{
        width: 50%;
    }
}
@media only screen and (max-width: 768px){
    #signup{
        width: 70%;
    }
}
@media only screen and (max-width: 480px){
    #signup{
        width: 90%;
    }
}