.contact_form{
    padding-right: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    padding: 1rem;
    background-color: rgba(31, 35, 41, 0.9);
    border-radius: .5rem;
    margin-top: 1rem;
}
.about_step .para{
    padding: 0;
}
#form_inline_image{
    margin: 1rem;
    width: 100%;
    height: auto;
    border-radius: .5rem;
}
@media only screen and (max-width: 1024px){
    #form_inline_image{
        margin: 0;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 768px){
    .contact_form{
        grid-template-columns: 1fr;
        margin-top: 0;
    }
    .contact_form .form_element{
        width: 100%;
    }
    .contact_form button{
        width: 50%;
    }
}
@media only screen and (max-width: 4px){
    
}
