form .form_element{
    position: relative;
    width: 85%;
    display: flex;
    flex-direction: column;
}
form .form_element label{
    margin-left: .5rem;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    color: var(--color-header-hover);
    text-align: left;
}
form .form_element input, textarea{
    width: 100%;
    outline: none;
    height: 36px;
    background-color: var(--color-bg);
    opacity: .6;
    border: none;
    border: 2px solid rgb(58, 57, 57);
    border-radius: .2rem;
    transition: .5s ease-in-out;
}
form .form_element input::placeholder, textarea::placeholder{
    color: whitesmoke;
    font-weight: 100;
}
form .form_element input[type="text"],form .form_element input[type="file"],form .form_element input[type="email"],form .form_element input[type="number"]{
    padding: 1rem;
    padding-left: .8rem;
    caret-color: var(--color-header-hover);
    font-weight: bold;
    color: whitesmoke;
    font-size: 1rem;
    transition: .5s ease-in-out;
}
form .form_element input[type="file"]{
    padding: 0;
    border: none;
    padding: .2rem;
    background-color: rgba(31, 35, 41, 0.9);
}
form .form_element input#file-upload-button{
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form_element input:focus, textarea:focus{
    border: 2px solid rgb(176, 175, 175);
    transition: .5s ease-in-out;
}