#forgotpassword,#changepassword{
    padding: 1rem;
}
#forgotpassword .para:first-child{
    padding-bottom: 0;
}
#forgotpassword button{
    margin-top: 1rem;
    width: 159px;
    height: 39px;
}
#changepassword .form_element{
    margin: 1rem 0;
}