.dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.devcard{
    position: relative;
    width: 390px;
    height: 220px;
    background-size: contain;
    margin: 1rem;
    border-radius: 4px;
    padding: 10px;
    display: block;
    box-shadow: 1px -1px 7px rgba(245, 245, 245, 0.1);
}
.devcard:hover{
    transform: scale(1.1);
}