#demo_form *{
    transition: 0.5s ease-in-out;
}
.demo .container h3{
    text-align: center;
}
#demo_form{
    color: rgba(255,255,255,0.7);
    background-color: rgba(31, 35, 41, 0.9);
    padding: 1rem 2rem;
    border-radius: .5rem;
    display: inline-block;
    text-align: center;
    width: 70%;
    place-items: center;
    margin: 2rem 0;
}
#demo_form .form_element{
    width: 100%;
    margin: 1rem 0;
}
.form_element select{
    background-color: var(--color-bg);
    opacity: .6;
    height: 35px;
    border: none;
    border: 2px solid rgb(58, 57, 57);
    border-radius: .2rem;
    transition: .5s ease-in-out;
    color: whitesmoke;
    font-size: 1rem;
    padding-left: .8rem;
}
#upload{
    display: inline-block;
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-radius: .2rem;
    border: 2px dashed rgb(58, 57, 57);
    background-color: var(--color-bg);
    cursor: pointer;
}

.form_element select:focus{
    border: 2px solid rgb(176, 175, 175);
    transition: .5s ease-in-out;
}
.form_element select option,.form_element select option:disabled{
    color: whitesmoke;
}
.file_input_area{
    display: block;
}
.preview_image_area{
    padding: 0;
    margin: 0;
    height: 5rem;
    width: 5rem;
    animation: none;
}
.form_element button{
    font-size: 1.2rem;
}
@media only screen and (max-width: 1024px){
    #demo_form{
        width: 80%;
    }
}
@media only screen and (max-width: 768px){
    #demo_form{
        width: 90%;
    }
    .form_element button{
        font-size: 1.2rem;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #demo_form .form_element{
        width: 100%;
        margin: 1rem 0;
    }
    .preview_image_area{
        height: 50px;
        width: 50px;
    }
}
@media only screen and (max-width: 480px){
    #demo_form{
        width: 100%;
    }
}
