.progress-bar, .demo .demo-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.progress-bar .bar{
    height: 5px;
    border-radius: .5rem;
    background-color: #238636;
    transition: 1s ease-in-out;
}
.demo-form form{
    color: rgba(255,255,255,0.7);
    border-radius: .5rem;
    width: 100%;
    padding: 1rem;
    background-color: rgba(31, 35, 41, 0.9);
    margin: 1rem 0;
    display: grid;
}
.grid_three{
    row-gap: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}
.grid_three button{
    width: 12vw;
    height: 30px;
    margin-top: 1rem;
    font-size: 1rem;
    border-radius: 0.2rem;
    font-weight: 500;
    margin: 0 5px;
    color: var(--color-header-hover);
    background-color: var(--color-btn-bg);
}
.demo-form form div h3{
    margin-top: 1rem;
    font-size: 1.3rem;
}
.demo-form h3{
    color: rgba(255,255,255,0.7);
    font-size: 2vw;
}
.form_element select{
    background-color: var(--color-bg);
    opacity: .6;
    height: 35px;
    border: none;
    border: 2px solid rgb(58, 57, 57);
    border-radius: .2rem;
    transition: .5s ease-in-out;
    color: whitesmoke;
    font-size: 1rem;
    padding-left: .8rem;
}
.form_element select:focus{
    border: 2px solid rgb(176, 175, 175);
    transition: .5s ease-in-out;
}

.form_element select option,.form_element select option:disabled{
    color: whitesmoke;
}
#upload{
    padding: .4rem;
    padding-left: .8rem;
    margin: 0;
    height: 35px;
    font-size: 1rem;
    border-radius: .2rem;
    background-color: var(--color-bg);
    opacity: .6;
    border: 2px solid rgb(58, 57, 57);
    color: whitesmoke;
}
