#signin{
    color: rgba(255,255,255,0.7);
    display: inline-block;
    text-align: center;
    width: 300px;
    place-items: center;
    margin-top: 1rem;
    text-align: left;
    transition: .5s ease-in-out;
}
#signin .form_element{
    margin: 1rem 0;
}
@media only screen and (max-width: 480px){
    #signin{
        width: 250px;
    }
}

.justify-center{
    animation: zoomOut 0.5s forwards;
}
.justify-center .heading{
    font-size: 2rem;
}
.reactloading{
    margin-left: 45%;
    padding: 5px;
}
#signup{
    color: rgba(255,255,255,0.7);
    display: inline-block;
    text-align: center;
    width: 300px;
    place-items: center;
    margin-top: 1rem;
    text-align: left;
    transition: .5s ease-in-out;
}
.main_div{
    border-radius: .5rem;
    padding: 1rem 2rem;
    display: block;
    background-color: rgba(31, 35, 41, 0.9);
}
#signup .form_element{
    margin: 1rem 0;
}
.divider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider .para{
    font-size: 1rem;
}
.navlink_signin{
    color: var(--color-btn-bg);
    border-bottom: 1px solid var(--color-btn-bg);
    cursor: pointer;
    margin: 0 1rem;
}
@keyframes zoomOut {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

@media only screen and (max-width: 768px){
    .divider{
        display: block;
        text-align: center;
    }
}
@media only screen and (max-width: 480px){
    #signup{
        width: 250px;
    }
}