#signin, #signup{
    color: rgba(255,255,255,0.7);
    display: inline-block;
    text-align: center;
    width: 320px;
    place-items: center;
    margin-top: 1rem;
    text-align: left;
    transition: .5s ease-in-out;
}

#signin .form_element, #signup .form_element{
    margin: 1rem 0;
}
.forgot_pass{
    color: var(--color-btn-bg);
    text-align: center;
    cursor: pointer;
}
.message{
    max-width: 100%;
    border-radius: 4px;
    padding: .5rem;
    text-align: center;
    background-color: rgba(84, 248, 84, 0.2);
    color: whitesmoke;
    max-width: 320px
}
.error{
    max-width: 100%;
    border-radius: 4px;
    padding: .5rem;
    text-align: center;
    background-color: rgba(205, 69, 69, 0.2);
    color: whitesmoke;
    max-width: 320px
}
.justify-center{
    animation: zoomOut 0.5s forwards;
}
.justify-center .heading{
    font-size: 1.6rem;
}
.reactloading{
    margin-left: 45%;
    padding: 5px;
}
.main_div{
    border-radius: .5rem;
    padding: 1rem 2rem;
    display: block;
    background-color: rgb(31, 35, 41);
}
.divider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider .para{
    font-size: 1rem;
}
.navlink_signin{
    color: var(--color-btn-bg);
    cursor: pointer;
    margin: 0 1rem;
}
@keyframes zoomOut {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }

@media only screen and (max-width: 768px){
    .divider{
        display: block;
        text-align: center;
    }
}
@media only screen and (max-width: 480px){
    #signin, #signup{
        width: 250px;
    }
}