.section *{
    transition: 0.5s ease-in-out;
}
.section{
    margin-top: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tagline{
    padding: 0 1rem;
}
.heading, .service{
    color: var(--color-header-hover);
    font-size: 3vw;
    font-weight: 600;
    margin: 10px 0;
}
section button{
    font-size: 1.5vw;
    margin: 0;
    transition: none;
}
.section div img{
    display: inline-block;
    place-items: center;
    width: 90%;
    height: auto;
    border-radius: .5rem;
    animation: floating 2s infinite ease-in-out;
    margin: 1rem;
}
.section:nth-child(2) img{
    animation: none;
}
.text-style{
    margin: 3vw 0 1vw 0;
    text-align: center;
    border-bottom: 2px solid var(--color-header-hover);
}
.offer-cards{
    margin-top: 2rem;
    place-items: center;
    column-gap: 2vw;
    row-gap: 2vw;
    margin-bottom: 3vw;
}
@keyframes floating {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -2px);
    }
    100% {
        transform: translate(0, 0);
    }
}
@media only screen and (max-width: 1048px){
    
}
@media only screen and (max-width: 800px){
    .section{
        grid-template-columns: 1fr;
    }
    .tagline{
        order: 1;
    }
    .offer-cards{
        grid-template-columns: 1fr;
    }
    .tag-card .card, .stepper .card{
        text-align: center;
    }
    .tag-card .tag,.stepper .steps{
        padding: 0 7%;
    }
    .section h3, .service{
        font-size: 5vw;
    }
    .section div p,section button{
        font-size: 2.5vw;
    }
    .text-left,.text-right{
        text-align: left;
    }
}