section *{
    transition: 0.5s ease-in-out;
}
.tag-card button, .stepper button,.offers button{
    transition: none;
}
.tag-card, .stepper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.tag-card div, .stepper div{
    width: 50%;
}
.tag{
    justify-content: center;
}
.tag-card .tag h3, .stepper .steps h3{
    color: var(--color-header-hover);
    font-size: 3vw;
    font-weight: 600;
    margin: 10px 0;
}
.tag-card .tag p, .stepper .steps p{
    padding: 10px 0;
    font-size: 1.5vw;
    color: var(--color-header-hover);
    opacity: 0.7;
}
.tag-card .tag button, .stepper .steps button,.offers button,.learn button{
    margin: 10px 0;
    padding: 0 10px;
    font-size: 1.5vw;
    border-radius: .2rem;
    font-weight: 500;
    line-height: 2;
    color: var(--color-header-hover);
    background-color: var(--color-btn-bg);
    border-color: none;
}
.offers button{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.tag-card .tag button:hover, .stepper .steps button:hover,.offers button:hover{
    background-color: var(--color-btn-hover-bg);
}
.tag-card .card, .stepper .card{
    width:100%;
    text-align: right;
}
.stepper .card{
    text-align: left;
}
.tag-card .card img, .stepper .card img{
    display: inline-block;
    width: 85%;
    height: auto;
    border-radius: .5rem;
    animation: floating 2s infinite ease-in-out;
}
.stepper .card img{
    animation: none;
}
.offers{
    margin-bottom: 1rem;
}
.offers div h1{
    font-size: 2.5vw;
    color: var(--color-header-hover);
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.offers .offer-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.offers .offer-cards .card{
    text-align: center;
    position: relative;
}
.offers .offer-cards img{
    width: 90%;
    height: auto;
    border-radius: .5rem;
}
.text{
    padding: 5px;
    position: absolute;
    width: 90%;
    height: 98%;
    top: 30%;
    margin: 0 5%;
    text-align: center;
    background-color: none;
}
.text h3{
    font-size: 3vw;
    color: var(--color-header-hover);
}
.learn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text p{
    padding: 5%;
    opacity: 0;
    font-size: 1.5vw;
    color: var(--color-header-hover);
}
.offers .offer-cards .card:hover .text{
    top: 1%;
    background-color: rgba(22, 27, 34, 0.7);
    border-radius: .4rem;
}
.offers .offer-cards .card:hover .text p{
    opacity: 1;
}
@keyframes floating {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -2px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@media only screen and (max-width: 800px){
    .tag-card{
        flex-direction: column-reverse;
    }
    .stepper{
        flex-direction: column;
    }
    .tag-card div, .stepper div{
        width: 100%;
    }
    .tag-card .card, .stepper .card{
        text-align: center;
    }
    .tag-card .tag,.stepper .steps{
        padding: 0 7%;
    }
    .tag-card .tag h3,.stepper .steps h3{
        font-size: 5vw;
    }
    .tag-card .tag p,.stepper .steps p,.tag-card .tag button, .stepper .steps button,.learn button{
        font-size: 2.5vw;
    }
    .offers div h1{
        font-size: 4vw;
    }
    .offers .offer-cards{
        display: block;
    }
    .next-line{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .next-line .card{
        width: 50%;
    }
    .offers .offer-cards .card .text h3{
        font-size: 4vw;
    }
    .offers .offer-cards .card .text p{
        font-size: 2.5vw;
    }
}