.tag-card, .stepper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.tag-card div, .stepper div{
    width: 50%;
}
.tag{
    justify-content: center;
}
.tag-card .tag h3, .stepper .steps h3{
    color: var(--color-header-hover);
    font-size: 2.4rem;
    font-weight: 600;
    margin: 10px 0;
}
.tag-card .tag p, .stepper .steps p{
    padding: 10px 0;
    font-size: 1rem;
    color: var(--color-header-hover);
    opacity: 0.7;
}
.tag-card .tag button, .stepper .steps button{
    margin: 10px 0;
    padding: 0 10px;
    font-size: 1.2rem;
    border-radius: .2rem;
    font-weight: 500;
    line-height: 2;
    color: var(--color-header-hover);
    background-color: var(--color-btn-bg);
    border-color: none;
}
.tag-card .tag button:hover{
    background-color: var(--color-btn-hover-bg);
}
.tag-card .card, .stepper .card{
    width:100%;
    text-align: right;
}
.stepper .card{
    text-align: left;
}
.tag-card .card img, .stepper .card img{
    display: inline-block;
    width: 85%;
    height: auto;
    border-radius: .5rem;
    animation: floating 2s infinite ease-in-out;
}


@keyframes floating {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -2px);
    }
    100% {
        transform: translate(0, 0);
    }
}