.account{
    padding: 1rem;
    color: rgba(255,255,255,0.7);
}
.account form button{
    margin-top: 1rem;
}
.account form h2{
    margin-bottom: 1rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.privacy{
    display: block;
}
.privacy_item{
    margin: 1rem 0;
}
.privacy_item .para{
    font-size: 1rem;
    margin-left: .4rem;
}
@media only screen and (max-width: 768px){
    .account .form_element button{
        width: unset;
        padding: 0 8px;
    }
}