.card img{
    margin: 1vw;
}
.offer-cards .card{
    display: flex;
    text-align: center;
    position: relative;
    background-color: rgba(31, 35, 41, 0.9);
    border-radius: .5rem;
    transition: .5s ease-in-out;
}
.offer-cards img{
    width: 40%;
    height: auto;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}
.card .description{
    text-align: left;
    position: relative;
}
.card .description h3{
    color: var(--color-header-hover);
    font-size: 2.4vw;
    margin-bottom: 1rem;
    text-align: left;
}
.card .description p,.card .description ul li{
    text-align: left;
    font-size: 1.4vw;
    color: var(--color-header-hover);
    opacity: .7;
    padding: 0;
}
.card .description ul{
    margin: 1vw 0;
    text-align: left;
    color: var(--color-header-hover);
}
.card button{
    position: absolute;
    font-size: 1.2vw;
    bottom: 1vw;
}
.offer-cards .card:hover{
    transform: scale(1.02);
    transition: .5s ease-in-out;
}
@media only screen and (max-width: 800px){
    .card .description h3{
        font-size: 4.4vw;
    }
    .card .description p,.card .description ul li{
        font-size: 2.4vw;
    }
    .card button{
        font-size: 2.2vw;
    }
    .card .description ul{
        margin: 1rem 0;
    }
    .card .description ul li{
        margin: .5rem 0;
    }
}