.card *{
    transition: .5s ease-in-out;
}
.card{
    margin: 1vw;
    display: flex;
    background-color: rgba(31, 35, 41, 0.9);
    border-radius: .5rem;
}
.card_visual{
    width: 50%;
    height: auto;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}
.description{
    margin: 12px;
    text-align: left;
}
.description h3{
    font-size: 2rem;
    margin: 0;
    margin-bottom: 8px;
}
.card ul{
    margin: 10px 0;
}
.card ul .para{
    padding: 0;
}

.card:hover{
    transform: scale(1.02);
    background-color: rgb(41, 44, 49);
    transition: .5s ease-in-out;
}
@media only screen and (max-width: 1024px){
    .card{
        display: block;
    }
    .description{
        margin-top: 0;
    }
    .description h3{
        font-size: 2rem;
    }
    .card_visual{
        width: 100%;
        border-radius: .2rem;
    }

}
@media only screen and (max-width: 768px){
    .description h3{
        font-size: 4vw;
    }
    .card{
        display: flex;
    }
    .card_visual{
        padding: 0;
        width: 40%;
        border-radius: none;
    }
}
@media only screen and (max-width: 480px){
    .description h3{
        font-size: 2rem;
    }
    .card{
        display: block;
        width: 90%;
    }
    .card_visual{
        width: 100%;
        border-radius: .2rem;
    }
}