.header{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.branding{
    display: flex;
    align-items: center;
}
.brand_logo{
    width: 45px;
    height: 45px;
}
.brand_name{
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
}
.navbar{
    font-size: 1.2rem;
    margin: 0 10px;
    height: 100%;
    display: flex;
    align-items:center;
}
.navbar-nav{
    display: flex;
    align-items:center;
}
.nav-item{
    margin: 0 5px;
    padding: 0 5px;
    line-height: 2;
    color: black;
    display: flex;
    align-items: center;
}
.nav-item-name{
    margin-left: 7px;
}
.nav-btn{
    font-weight: bolder;
}