.navbar{
    position: sticky;
    top:0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: rgba(22, 27, 34, 0.95);
    box-shadow: rgb(30, 34, 40) 0px 10px 10px -10px;
    transition: all .5s ease-in-out;
}
.avatar img{
    height: 45px;
    width: 45px;
}
.branding{
    display: flex;
    align-items: center;
}
.brand_image{
    width: 60px;
    height: 40px;
    transition: all .5s ease-in-out;
}
.brand_name{
    margin-left: 10px;
    font-size: 3.2rem;
    font-weight: bolder;
    text-transform: capitalize;
    color: var(--color-header-hover);
    transition: all .5s ease-in-out;
}
.nav{
    height: 100%;
    display: flex;
    align-items:center;
}
.nav-list{
    display: flex;
    align-items:center;
    transition: all .5s ease-in-out;
}
.list-item{
    font-size: 1.2rem;
    color: var(--color-header-hover);
    margin: 0 12px;
}
.active button{
    background-color:var(--color-btn-hover-bg);
}
#menu{
    display: none;
}
.hamburger{
    font-size: 2rem;
    width: 28px;
    cursor: pointer;
    margin-left: 12px;
    color: var(--color-header-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
}
.hamburger-line{
    width: 100%;
    height: 4px;
    margin: 8px 0;
    background-color: var(--color-header-hover);
}
.sign_out_one{
    display: none;
}
.sign_out_two{
    display: block;
}
.list-item:hover{
    color: var(--color-white);
}
@media only screen and (max-width: 1024px){
    .sign_out_one{
        display: block;
    }
    .sign_out_two{
        display: none;
    }
    #menu{
        display: block;
        transition: all .5s ease-in-out;
    }
    .navbar button{
        margin: 4px 0;
        transition: all .5s ease-in-out;
    }
    .nav-list{
        display: block;
        position: absolute;
        width: 100%;
        top: 90px;
        box-shadow: rgb(30, 34, 40) 0px 10px 10px -10px;
        background-color: rgba(22, 27, 34, 0.8);
        transition: all .5s ease-in-out;
    }
    .list-item{
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
        margin: 12px 0;
    }
    .hamburger{
        display: block;
        visibility: visible;
    }
    /* .profile{
        position: absolute;
        top:80px;
        right: 60px;
        background-color: #222933;
        border: 1px solid rgb(62, 60, 60);
        border-radius: 6px; 
    }
    .profile .nav-list{
        padding: 4px;
        display: block;
    }
    .profile .nav-list .list-item{
        font-size: 1rem;
        padding: 4px;
    } */
    
}

@media only screen and (max-width: 768px){
    .navbar{
        padding: 1rem 2rem;
        transition: all .5s ease-in-out;
    }
    .nav-list{
        top: 72px;
    }
    .brand_image{
        width: 55px;
        height: 35px;
        transition: all .5s ease-in-out;
    }
    .brand_name{
        font-size: 2rem;
        transition: all .5s ease-in-out;
    }
}
@media only screen and (max-width: 480px){
    .brand_name{
        display: none;
    }
}