.header{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.branding{
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.brand_logo{
    width: 45px;
    height: 45px;
}
.brand_name{
    color: var(--color-white);
    margin-left: 10px;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--color-header-hover);
}
.navbar{
    margin: 0 10px;
    height: 100%;
    display: flex;
    align-items:center;
}
.navbar-nav{
    display: flex;
    align-items:center;
}
.nav-item{
    font-size: 1rem;
    color: var(--color-header-hover);
    margin: 0 5px;
    padding: 0 5px;
    line-height: 2;
    display: flex;
    align-items: center;
}

.nav-btn{
    padding: 0 20px;
    border-radius: .2rem;
    font-weight: 500;
    background-color: var(--color-btn-bg);
    border-color: none;
}

.nav-item:hover,.active{
    color: var(--color-white);
}
.nav-btn:hover{
    background-color: var(--color-btn-hover-bg);
}