footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
    transition: 0.5s ease-in-out;
    box-shadow: rgb(30, 34, 40) 0px -10px 10px -10px;
}
