.pd-4{
    padding: 2rem 0 2rem 0;
    justify-content: center;
}
.justify-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify-center .heading{
    font-size: 2rem;
    margin-right: 8rem;
}
#signup{
    color: rgba(255,255,255,0.7);
    background-color: rgba(31, 35, 41, 0.9);
    padding: 1rem 2rem;
    border-radius: .5rem;
    display: inline-block;
    text-align: center;
    width: 700px;
    place-items: center;
    margin: 1rem 0;
    text-align: left;
}
#signup .form_element{
    margin: 1rem 0;
}