.verify{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}

.verify_box{
    border-radius: 6px;
    text-align: center;
    width: 50%;
    background-color: rgba(78, 78, 78, 0.3);
}
.verify_box .success,.verify_box .failed, .verify_box .progress{
  border-radius: 6px;
  padding: 1rem;
  color: whitesmoke;
}

.verify_box .success{
  background-color: var(--color-btn-bg);
}
.verify_box .failed{
  background-color: rgba(131, 11, 11, 0.5);
}

@media only screen and (max-width: 768px){
  .verify_box{
    width: 70%;
  }
}

@media only screen and (max-width: 480px){
  .verify_box{
    width: 90%;
  }
}