body{
    background-color: var(--color-bg);
    overflow-x: hidden;
}
main{
    margin-top: 7rem;
    margin-bottom: 3rem;
    padding: 0 4rem;
    min-height: 55vh;
    transition: 0.5s ease-in-out;
}
.para{
    padding: 10px 0;
    font-size: 1.2rem;
    color: var(--color-header-hover);
    opacity: .7;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
button{
    padding: 0 10px;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 500;
    line-height: 2;
    margin: 0 5px;
    color: var(--color-header-hover);
    background-color: var(--color-btn-bg);
    border-color: none;
    cursor: pointer;
}
button:disabled{
    opacity: .7;
}

button:hover:enabled{
    background-color: var(--color-btn-hover-bg);
}

@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 768px){
    main{
        padding: 1rem;
    }
    
}

@media only screen and (max-width: 480px){
    .para{
        font-size: 1rem;
    }
}