.devcard{
    position: relative;
    width: 380px;
    height: 220px;
    background-size: contain;
    margin: 1rem;
    border-radius: 4px;
    padding: 10px;
    display: block;
    box-shadow: 1px -1px 7px rgba(245, 245, 245, 0.1);
}
.prof_img{
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
}
.direction{
    flex-direction: row;
}
.reverse-direction{
    flex-direction: row-reverse;
}

.loc_link{
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.prof_img .image{
    width: 35%;
    display: flex;
    justify-content: center;
}
.barcode img{
    height: 50px;
    width: 50px;
    margin: 0 8px;
}
.prof_img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.prof_img  .profile_info{
    width: 65%;
}
.devcard p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.profile_info p img{
    height: 1rem;
    width: 1rem;
    margin-right: 4px;
}
.profile_info{
    font-size: 1.2rem;
}
.loc{
    display: flex;
    justify-content: flex-start;
}
.loc p{
    font-size: 1.2rem;
}
.loc img{
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 6px;
}
.devcard:hover{
    box-shadow: 1px -1px 7px rgba(245, 245, 245, 0.5);
}