#updatepassword{
    color: rgba(255,255,255,0.7);
    display: inline-block;
    text-align: center;
    width: 320px;
    place-items: center;
    margin-top: 1rem;
    text-align: left;
    transition: .5s ease-in-out;
}